body {
  background-color: #fbfaff;
  font-family: 'Poppins', sans-serif;
}

h2 {
  border-bottom: 2px dashed #2CC295;
  padding-bottom: 5px;
}

.text-JAVASCRIPT {
  color: #17876D;
}

.text-CONCEPTOS {
  color: #391787;
}

.text-EJERCICIOS {
  color: #54ACBF;
}

h3 {
  border-bottom: 2px dashed #03624C;
  padding-bottom: 4px;
}

.text-rosita {
  color: #0c969c;
}

.btn-outline-rosita {
  color: #0c969c;
  border: 1px solid #0c969c;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-outline-rosita:hover {
  background-color: #0c969c;
  color: white;
  box-shadow: 0 0 10px #274d60;
}

.btn-kawaii {
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-kawaii:hover {
  color: white;
  box-shadow: 0 0 10px rgba(255, 204, 224, 0.6);
}

code {
  background-color: #032f30;
  border-radius: 5px;
  display: block;
  padding: 10px;
  font-family: 'Courier New', monospace;
  color: #0c969c;
}

a {
  color: #2CC295;
  text-decoration: none;
}

a:hover {
  color: #08eea1;
  text-decoration: underline;
}

.contenedor-imagen img {
  width: 15.625rem;
  height: 15.625rem;
  object-fit: cover;
  border: none;
  border-radius: 100%;
  box-shadow: 0 4px 12px rgba(10, 112, 117, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contenedor-imagen img:hover {
  transform: scale(1.1) rotate(3deg);
  box-shadow: 0 8px 20px rgba(10, 112, 117, 0.9);
}

.bg-rosita {
  background-color: #032f30;
  color: #6ba3be;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

/*------------------SCROLLBAR-------------------*/
::-webkit-scrollbar {width: 13px;}

::-webkit-scrollbar-track {
    background: #032f30;
}

::-webkit-scrollbar-thumb {
    background: #0a7075;}

::-webkit-scrollbar-thumb:hover {background: #0c969c;}


/*VUELTA AL INDICE*/
#vuelta-indice{
    display: flex;
    gap: 8px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 50px;
}

#vuelta-indice:hover{
  transition: all .5s ease;
    scale: 1.09;
}

.js-section {
  background-color: #031716;
  border-left: 5px solid #0c969c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.js-code {
  background-color: #031716;
  color: #0c969c;
  font-family: 'Courier New', monospace;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow-x: auto;
}

.card-ejercicio {
  border: 2px dashed #0a7075;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card-ejercicio:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(10, 112, 117, 0.4);
}

#shadow_caja:hover {
  box-shadow: 0 4px 12px rgba(10, 112, 117, 0.4);


}


.boton_ejercicio {
  background-color: rgba(6, 91, 95, 0.884);
  color: white;
  font-weight: 600;
  padding: 1rem 0;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.boton_ejercicio:hover {
  background-color: #eaee0f;
  color: black;
  box-shadow: 0 0 10px rgba(188, 201, 15, 0.6);
  text-decoration: none;
}